img{
    width: 70%;
    max-width: 70%;
    height: 70%;
    max-height: 70%;
    border-radius: 15%;
    transition:all .5s;
}

img:hover{
    transform: scale(1.2);
}

.title{
    font-size: 15px;
    color:black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 15px;
  }

  .product{
      text-align: center;
      margin: 0;
  }

  .add{
      height: 20px;
      font-size: 10px;
      margin: 5px;
  }

  .price{
      font-size: 15px;
      font-weight: bold;
      margin: 5px;
  }

 .line{
 }

 .style{
     width: 90%;
     max-width: 90%;
     height: 90%;
     max-height: 90%;
     border-radius: 15%;
     padding-top:10%;
     padding-bottom:10%;
     transition:all .5s;
 }

 .style:hover{
     background-color: #e0e0e0;
 }
